<form action="/DiemCachLi/AddDCL" method="post">
    <label>Mã điểm cách li:</label><input type="text" name ="MaDiemCachLi"/></br>
    <label>Tên điểm cách li</label><input type="text" name="TenDiemCachLi" /></br>
    <label>Địa chỉ         </label><input type="text" name="DiaChi" /></br>
    <input type="submit" value="Thêm" name="submit" id="them" />
</form>